@import "mocha.css";

*{
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 1.02em;
  }
  
  window{
    background-image: linear-gradient(to bottom, @sapphire, @green);
    opacity: 0.8;
  }
  
  #input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid @surface2;
    background-color: @base
    color: @text;
    font-size: 2em;
  }
  
  /* search icon */
  #input:first-child > :nth-child(1) {
    min-height: 1.25em;
    min-width: 1.25em;
    background-image: -gtk-icontheme('open-menu-symbolic');
  }
  
  /* clear icon */
  #input:first-child > :nth-child(4){
    min-height: 1.25em;
    min-width: 1.25em;
    background-image: -gtk-icontheme('window-close-symbolic');
  }
  
  #inner-box {
    background-color: @base;
  }
  
  #outer-box {
  
    margin: 2px;
    padding:0px;
    background-color: @base;
  }
  
  #text {
    padding: 5px;
    color: @text;
  }
  
  #entry:selected {
    background-color: @peach;
  }
  
  #text:selected {
    color: @green;
  }
  
  #scroll {
  }
  
  #img {
  }
  
  /* Give color to even items */
  /* #entry:nth-child(even){ */
  /*     background-color: #404552; */
  /* } */