@import "mocha.css";

* {
  border: none;
  font-family: "Hack";
  font-size: 18px;
}

#waybar {
  background-color: @crust;
}

#custom-launcher {
  font-size: 26px;
  color: @sapphire;
  padding-left: .75em;
  padding-right: .5em;
  background: @crust;
}

#network {
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: @text;
}

#cpu {
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: @text;
}

#memory {
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: @text;
}

#temperature {
  margin-left: 8px;
  margin-right: 8px;
  color: @text;
}

#pulseaudio {
  color: @green;
  margin-left: 8px;
}

#temperature.critical {
  color: @red;
}

#window {
  font-weight: bold;
}

#workspaces {
  background-color: @base;
  border-radius: 8px;
  border: 1px solid @overlay0;
  margin-left: 1em;
}

#workspaces button {
  padding: 0 0.5em;
  margin: 0.25em;
  color: @text;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.visible {
  color: @blue;
}

#workspaces button.active {
  color: @sapphire;
}

#workspaces button.urgent {
  background-color: @red;
  border-radius: 1em;
  color: @test;
}

#tray {
  margin-left: 8px;
  margin-right: 8px;
  padding: 10px;
  border-radius: 50%;
  background: @base;
}

#custom-power {
  font-size: 18px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 6px;
  border-radius: 50%;
  color: @text;
  background: @red;
}

#custom-spacer {
  margin-left: .5em;
  margin-right: .5em;
  color: @peach;
  font-size: 28px;
  font-weight: bold;
}

#custom-audio-sink {
  background-color: @base;
  border-radius: 10px;
  border: 1px solid @overlay0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: @teal;
  font-size: 16px;
  font-weight: bold;
}

#custom-audio-sink:hover {
  background-color: @surface0;
  color: @sky;
}

#custom-weather {
  background-color: @base;
  border-radius: 10px;
  border: 1px solid @overlay0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: 16px;
  font-weight: bold;
}

#clock {
  background-color: @base;
  border-radius: 10px;
  border: 1px solid @overlay0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: @teal;
  font-weight: bold;
}

@keyframes blink {
  to {
    color: @text;
  }
}