@import "mocha.css";

* {
  border: none;
  border-radius: 6px;
  min-height: 0;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}

#waybar {
  background-color: shade(@base, 1.0);
  border: 2px solid @crust;
  color: @text;
  font-size: 16px;
  font-family: "Hack";
}

.modules-left {
  margin: 4px;
}

.modules-right {
  margin: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

#workspaces button {
  color: @maroon;
  background-color: shade(@base, 1.0);
  margin-left: 4px;
  margin-right: 4px;
}

#workspaces button:hover {
  color: @maroon;
}

/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: @maroon;
}

#custom-powermenu,
#cpu,
#custom-weather,
#temperature,
#memory,
#workspaces,
#custom-changebg,
#custom-cmus,
#clock,
#window,
#pulseaudio,
#tray,
#network {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#window {
  color: @text;
  background-color: shade(@base, 1.0);
}

#custom-powermenu {
  color: @text;
  padding-right: 11px;
  background-color: shade(@crust, 1.0);
}

#pulseaudio {
  color: @text;
  padding-right: 14px;
  background-color: shade(@crust, 1.0);
}

#cpu {
  color: @text;
  background-color: shade(@crust, 1.0);
}

#temperature {
  color: @text;
  background-color: shade(@crust, 1.0);
}

#memory {
  color: @text;
  background-color: shade(@crust, 1.0);
}

#network {
  color: @text;
  min-width: 190px;
  background-color: shade(@crust, 1.0);
}

#clock {
  color: @text;
  background-color: shade(@crust, 1.0);
  /* opacity: 0.7; */
  /* font-size: 18px; */
}
